footer{
    width: 100vw;
    background: #E8505B;
    justify-content: center;
    align-items: stretch;
    justify-items: center;
    padding-left: -10vw;
    display:flex;
}
.footer_tag > p {
    color: #000000;
}
footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   margin: 0 14vh;
}

footer .footer_main .footer_tag{
    text-align: center;
    width: max-content;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #F875AA;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: #F875AA;
    margin-left: 10px;
}
.footer_tag > img {
    width: 40vw;
}