*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header_newproperty{
    position: relative;
}
.section_newsection{
    padding-top: 10vh;
}
section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background: #FFD3B0;
    overflow-x: hidden;
}
h1{
    font-size: 35px;
    color: #DF2E2E;
    text-shadow:2px #E8505B ;
}
p{
    font-size: 16px;
    color: #E8505B;
    font-weight: 600;
}
#border{
    border-radius: 30px;
    height: 58vh;
    width: 40vw;
    background-color: #FFA26B;
    justify-content: center;
    position: absolute;
    z-index: 0;
    box-shadow: 20px 20px 100px 50px rgb(46 2 2 / 29%) inset, 
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.lietke{
    width: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    justify-content: center;
    align-items: center;
    height: 65vh;
    z-index: 1;
    padding-bottom: 7vh;
}
.lietke > img {
    width: 20vh;
    height: 20vh;
    border-radius: 20%;
    object-fit: cover;
    object-position: center;
    box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
section .animate {
    transition: 1s  !important;
}
.sec-1 .animate {
    transform: translateX(-100%);
}
.sec-1.show-animate .animate{
    transform: translateX(0);
}
.sec-2 .animate {
    transform: translateX(100%);
}
.sec-2.show-animate .animate{
    transform: translateX(0);
}
.sec-3 .animate {
    transform: translateX(100%);
}
.sec-3.show-animate .animate{
    transform: translateX(0);
}
.sec-3 .animate {
    transform: scale(.7);
}
.sec-3.show-animate .animate{
    transform: scale(1);
}
.sec-0{
    height: 90vh;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.a13554_358 { 
	overflow:hidden;
}
.group_2_13554_358 { 
	width:100%;
	height:100%;
	position:relative;
}
.sec-0_bg { 
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../anh/buger.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.group_1 { 
	width:831.7771606445312px;
	height:147px;
	position:absolute;
	left:127.6635513305664px;
	top:70px;
}
.rectangle_2 { 
	box-shadow:0px 7px 64px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 134.00000721216202, 59.00000028312206, 1);
	opacity:0.800000011920929;
	width:831.7771606445312px;
	height:147px;
	position:absolute;
	left:0px;
	top:0vh;
	border-top-left-radius:160px;
	border-top-right-radius:160px;
	border-bottom-left-radius:160px;
	border-bottom-right-radius:160px;
}
.b_n_mu_n__n_g___ { 
	color:rgba(255, 255, 255, 1);
    width: 80vw;
    height: 20vh;
	position:absolute;
    left: 10vh;
    top: 6vh;
    font-family: Aleo;
    text-align: left;
    font-size: 53px;
	letter-spacing:-1.5;
	line-height:px;
}
.rectangle_1 { 
	background-color:rgba(41.00000135600567, 127.00000002980232, 135.00000715255737, 0.5);
	opacity:0.800000011920929;
	width:919.3179931640625px;
	height:476.5440368652344px;
	position: absolute;
    right: 0px;
    bottom: 0px;
    height: 65%;
    width: 70%;
    
}
.s_n_ph_m { 
	width:inherit;
	height:90%;
	position:absolute;
	left:15%;
	top:5%;
}
.doansang_6 { 
	width:12vw;
	height:12vw;
	position:absolute;
	left:518.1693115234375px;
	top:219.64804077148438px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
	background-image:url(../anh/juse.jpg);
	background-repeat:no-repeat;
	background-size:cover;
    background-position: center;
    border: 3px solid #E8505B;
}
.doansang_5 { 
	width:12vw;
	height:12vw;
	position:absolute;
	left:518.1693115234375px;
	top:0.000030517578125px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
	background-image:url(../anh/Cupcake.jpg);
	background-repeat:no-repeat;
	background-size:cover;
    background-position: center;
    border: 3px solid #E8505B;
}
.doansang_4 { 
	width:12vw;
	height:12vw;
	position:absolute;
	left:-0.0000014586202041755314px;
	top:219.6480712890625px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
	background-image:url(../anh/banh.jpg);
	background-repeat:no-repeat;
	background-size:cover;
    background-position: center;
    border: 3px solid #E8505B;
}
.doansang_3 { 
	width:12vw;
	height:12vw;
	position:absolute;
	left:259.0845642089844px;
	top:0.000030517578125px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
	background-image:url(../anh/Hot_dog.jpg);
	background-repeat:no-repeat;
	background-size:cover;
    background-position: center;
    border: 3px solid #E8505B;
}
.doansang_2 { 
	width:12vw;
	height:12vw;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
	background-image:url(../anh/doansang.jpg);
	background-repeat:no-repeat;
	background-size:cover;
    background-position: center;
    border: 3px solid #E8505B;
}
.doansang_1 { 
	width:12vw;
	height:12vw;
	position:absolute;
	left:259.0845642089844px;
	top:219.64804077148438px;
	border-top-left-radius:54px;
	border-top-right-radius:54px;
	border-bottom-left-radius:54px;
	border-bottom-right-radius:54px;
	background-image:url(../anh/doannhanh.jpg);
	background-repeat:no-repeat;
	background-size:cover;
    background-position: center;
    border: 3px solid #E8505B;
}
